body {
  background-color: #efefef;

}


header {
  background: url('../images/hero.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.nav {
  background-color: #262626;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  width: 100%;
  height: 12vh;
  transition: all 400ms linear;

  .icon {
    height: 30px;
    display: block;
    float: right;
  }

  li {
    margin-left: 20px;
    display: none;
    @include tablet {
      display: inline;
    };
  }

  &.responsive {
    position: relative;

    & li {
      display: block;
      float: none;
    }

    // .icon {
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    // }
  }
}




/* classes applied by scrolling past the height of the hero image */


.nav.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1em;
    height: 8vh;

}

.bouncy-name {
  animation: bouncy 1s ease-in;
}
