// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

@keyframes bouncy {
  0% {
    font-size: 14px;
  }
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 14px;
  }
}
