// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$grey: #262626;
$color: #ffa172; //salmon
$color2: #beffb7; //light green
