@keyframes bouncy {
  0% {
    font-size: 14px; }
  50% {
    font-size: 18px; }
  100% {
    font-size: 14px; } }
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: white; }

li {
  list-style: none; }

* {
  font-family: 'Junction'; }

header h1 {
  font-size: 22em;
  color: white;
  text-align: center; }

nav li, nav h2 {
  font-size: 14px; }

.highlight-text {
  color: #ffa172; }

.project p {
  font-size: 1.4em; }
  @media (min-width: 768px) {
    .project p {
      font-size: 1em; } }
  @media (min-width: 1024px) {
    .project p {
      font-size: .8em;
      line-height: 1.2;
      margin: 0; } }

@font-face {
  font-family: 'Junction';
  src: url("fonts/junction-bold.eot");
  src: url("fonts/junction-bold.eot?#iefix") format("embedded-opentype"), url("fonts/junction-bold.woff") format("woff"), url("fonts/junction-bold.ttf") format("truetype"), url("fonts/junction-bold.svg#junctionbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Junction';
  src: url("fonts/junction-light.eot");
  src: url("fonts/junction-light.eot?#iefix") format("embedded-opentype"), url("fonts/junction-light.woff") format("woff"), url("fonts/junction-light.ttf") format("truetype"), url("fonts/junction-light.svg#junctionlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Junction';
  src: url("fonts/junction-regular.eot");
  src: url("fonts/junction-regular.eot?#iefix") format("embedded-opentype"), url("fonts/junction-regular.woff") format("woff"), url("fonts/junction-regular.ttf") format("truetype"), url("fonts/junction-regular.svg#junctionregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif; }
  @media only screen and (max-width: 766px) {
    .main_h {
      padding-top: 25px; } }

.open-nav {
  max-height: 400px !important; }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); }

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid white; }

.logo {
  width: 50px;
  font-size: 25px;
  color: #ffa172;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px; }
  @media only screen and (max-width: 766px) {
    .logo {
      float: none; } }

nav {
  float: right;
  width: 60%; }
  @media only screen and (max-width: 766px) {
    nav {
      width: 100%; } }
  nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right; }
    @media only screen and (max-width: 766px) {
      nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%; } }
    nav ul li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5; }
      @media only screen and (max-width: 766px) {
        nav ul li {
          width: 100%;
          padding: 7px 0;
          margin: 0; } }
    nav ul a {
      color: #888888;
      text-transform: uppercase;
      font-size: 12px; }

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }
  @media only screen and (max-width: 766px) {
    .mobile-toggle {
      display: block; } }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #ffa172;
    display: block; }

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%; }

* {
  box-sizing: border-box; }

body {
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2; }

.content {
  padding: 50px 2% 250px; }

.hero {
  position: relative;
  background: #333 url(../images/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif; }
  .hero h1 {
    font-size: 50px;
    line-height: 1.2; }
    .hero h1 span {
      font-size: 25px;
      color: #beffb7;
      line-height: 3; }

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #beffb7;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -14px; }
  .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: #beffb7;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll; }

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); } }
.main {
  padding: 20px; }

.flex-container {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.project {
  height: 64vw;
  width: 64vw;
  margin: 20px;
  flex-basis: auto; }
  @media (min-width: 768px) {
    .project {
      height: 300px;
      width: 300px; } }
  @media (min-width: 1024px) {
    .project {
      height: 200px;
      width: 200px; } }

.uno {
  background-color: lightpink; }

.dos {
  background-color: lightblue; }

.tres {
  background-color: lightgreen; }

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px; }

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  width: 100%; }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg); }
  .front img {
    width: 100%; }

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  padding: 20px; }

.about-flex-container {
  border: 1px solid green;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  .about-flex-container .image {
    flex-basis: 100%; }
    @media (min-width: 768px) {
      .about-flex-container .image {
        flex-basis: 30%; } }
    .about-flex-container .image img {
      border: 1px solid red;
      width: 100%; }
  .about-flex-container p {
    border: 1px solid blue;
    padding: 1em;
    flex-basis: 100%; }
    @media (min-width: 768px) {
      .about-flex-container p {
        margin-left: 40px;
        flex-basis: 40%; } }

.form-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-flex-container .my-form {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 30px; }
    .form-flex-container .my-form .form-group {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px auto; }
      .form-flex-container .my-form .form-group label {
        margin-bottom: 20px; }

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin-top: 40px;
  padding-top: 15px;
  background-color: #262626;
  display: flex;
  justify-content: center; }
  footer li {
    margin: auto 10px;
    padding-right: 20px;
    border-right: 1px solid white; }

footer a:nth-child(3) li {
  border-right: none; }

/*# sourceMappingURL=output.css.map */
