// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
