 //Basic typography style for copy text

* {
  font-family: 'Junction';
}

h1 {

}

header h1 {
  font-size: 22em;
  color: white;
  text-align: center;

}

nav {
  li, h2 {
  font-size: 14px;
  }
}

.highlight-text {
  color: $color
}

.project p {
  font-size: 1.4em;
  @include tablet {
    font-size: 1em;
  };
  @include desktop {
    font-size: .8em;
    line-height: 1.2;
    margin: 0;
  };
}
