 //Basic typography style for copy text

* {
  font-family: 'Junction';
}





h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
}



.hero {
  h1 {
    font-size: 60px;
    color: white;
    text-align: center;
  }

  span {
    font-size: 25px;
    line-height: 2;
    color: $color2;
    // border-bottom: 2px solid $color2;
    // padding-bottom: 12px;
  }

  p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
  }
}


nav {
  li, h2 {
  font-size: 14px;
  }
}

.highlight-text {
  color: $color
}

.project p {
  @include tablet {
    font-size: 1em;
  };
  @include desktop {
    font-size: .8em;
    line-height: 1.2;
    margin: 0;
  };
}
